* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  line-height: 1.7;
}

body {
  font-size: 16px;
  font-family: 'Be Vietnam', sans-serif;
  color: #242d52;
  padding-top: 1.2em;
}

img {
  width: 100%;
  height: auto;
}

.manage-logo {
  width: 110px;
}

.manage-logo--footer {
  width: 170px;
  margin: 4em auto 3em auto;
  display: block;
}

.hamburger-icon {
  width: 20px;
  height: 20px;
}

.intro-illustration {
  width: 100%;
  margin-top: 1.2em;
}

.testimonial_image {
  width: 765px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 3em;
}

.social-media_icon {
  width: 30px;
  height: 30px;
}

.main-container {
  text-align: center;
  padding: .4em;
}

.main-container_smaller {
  width: 85%;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 1em;
}

nav ul {
  display: none;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

.txt--light {
  color: #9095a7;
}

.header-section {
  margin-bottom: 4em;
}

.header-section_title {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3;
  margin: .3em 0;
}

.header-section_para {
  font-size: 1rem;
}

.section-header {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3;
  margin: .5em 0;
}

.section-header_para {
  font-size: .9rem;
}

.intro-section_header {
  margin: 3em 0;
}

.middle-section {
  text-align: left;
  margin-bottom: 2em;
}

.middle-section_section {
  margin: 3em 0;
}

.middle-section_3 {
  margin-bottom: 0;
}

.middle-section_subtitle {
  margin: .7em 0;
  background-color: rgba(242, 95, 58, 0.1);
  padding: .2em .1em .4em .1em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.middle-section_subtitle-number {
  padding: .2em 1.5em .4em 1.5em;
  border-radius: 20px;
  background-color: #f25f3a;
  color: #fff;
  margin-right: .5rem;
}

.testimonials-section {
  text-align: center;
}

.testimonial {
  margin: 7.5em 0 6em 0;
  background-color: #fafafa;
  position: relative;
  padding: 3em 1em;
  text-align: center;
  font-size: .9rem;
}

.testimonial_image {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
}

.testimonial_name {
  margin: 1.2em 0;
  font-size: 1rem;
}

.testimonial_activeIcon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -34px;
}

.testimonial_indicator-icon {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: solid;
  border-width: 1px;
  border-color: #f25f3a;
  margin: auto .15em;
  content: " ";
}

.testimonial_indicator-icon--active {
  background-color: #f25f3a;
}

.testimonial_2, .testimonial_3, .testimonial_4 {
  display: none;
}

.getstarted-section {
  background-color: #f25f3a;
  padding: 4.5em 0;
}

.getstarted-section_content {
  text-align: center;
}

.getstarted-section_header {
  font-size: 2.5rem;
  line-height: 1.3;
  color: #fff;
}

button {
  border-radius: 20px;
  padding: 1em 2.2em;
  border: none;
  margin: 2em auto;
  font-weight: 700;
  color: #9095a7;
}

.get-started-btn--dark {
  background-color: #f25f3a;
  color: #fafafa;
}

.get-started-btn--light {
  background-color: #fff;
  color: #f25f3a;
}

footer {
  color: #fafafa;
  background-color: #1d1e25;
  padding: .5em;
}

.email-signup {
  margin: 0 auto;
  width: 90%;
}

.email-signup_input {
  width: 70%;
  margin: auto .5em;
  border-radius: 20px;
  padding: .8em 2.2em;
  color: #9095a7;
}

.footer_nav-list {
  margin: 2.2em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_nav-list--section {
  list-style-type: none;
}

.footer_nav-list--section li {
  margin: .5rem;
  font-size: .9rem;
  color: #fafafa;
}

.copyright, .attribution {
  text-align: center;
  color: #9095a7;
}

.copyright {
  margin-bottom: .8em;
  font-size: 14px;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: #fafafa;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */