* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 25px;
  }
}

body, html {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Be Vietnam', sans-serif;
  color: #242d52;
  padding-top: 1.2em;
  background-image: url("bg-tablet-pattern.svg");
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  body {
    text-align: left;
    font-size: 40px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.greyed-out {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  opacity: .7;
  z-index: 5;
}

.greyed-out_toggle-active {
  visibility: visible;
}

@media only screen and (min-width: 1000px) {
  .flex-lrg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (min-width: 1000px) {
  .flex-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1000px) {
  .flex-1 {
    width: 45%;
  }
}

.manage-logo {
  width: 110px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.manage-logo--footer {
  width: 170px;
  margin: 4em auto 3em auto;
  display: block;
}

.hamburger-icon {
  width: 20px;
  height: 20px;
  z-index: 10;
}

@media only screen and (min-width: 1000px) {
  .hamburger-icon {
    display: none;
  }
}

.intro-illustration {
  width: 100%;
  margin-top: 1.2em;
}

.intro-illustration_toggle-active {
  display: none;
}

.testimonial_image {
  width: 75px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 3em;
}

.social-media_icon {
  width: 30px;
  height: 30px;
}

.main-container_section-narrow {
  background: url("/images/bg-tablet-pattern-small.svg") no-repeat;
  background-position-x: -30%;
  background-position-y: -170%;
  width: 85%;
  margin: 0 auto;
  text-align: inherit;
}

.main-navigation {
  position: relative;
  z-index: 100;
  padding: 1em 1em;
}

@media only screen and (min-width: 1000px) {
  .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-navigation_ul {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .main-navigation_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.main-navigation_ul_toggle-active {
  display: block;
  background-color: white;
  padding: 1.7rem;
  margin-top: 5em;
}

.main-navigation_li {
  list-style-type: none;
  display: block;
  padding: .5em 0;
  font-size: .9rem;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .main-navigation_li {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 1.2rem;
  }
  .main-navigation_li:hover {
    opacity: .6;
  }
}

.main-navigation--sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.txt--light {
  color: #9095a7;
}

.header-section {
  margin-bottom: 4em;
}

@media only screen and (min-width: 1000px) {
  .header-section {
    margin-bottom: 0;
  }
}

.header-section_title {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.3;
  margin: .3em 0;
}

.header-section_para {
  font-size: 1rem;
}

@media only screen and (min-width: 1000px) {
  .header-section_para {
    font-size: auto;
  }
}

.section-header {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3;
  margin: .5em 0;
}

.section-header_para {
  font-size: .9rem;
}

@media only screen and (min-width: 1000px) {
  .section-header_para {
    font-size: auto;
  }
}

.intro-section_header {
  margin: 3em 0;
}

.section-2--atsmall {
  width: 85%;
  margin: 0 auto;
  text-align: inherit;
}

@media only screen and (min-width: 1000px) {
  .section-2--atsmall {
    width: 45%;
  }
}

@media only screen and (min-width: 1000px) {
  .section-2--atlarge {
    width: 85%;
    margin: 0 auto;
  }
}

.middle-section {
  text-align: left;
  margin-bottom: 2em;
  padding-left: 1em;
  font-size: .9rem;
}

.middle-section_section {
  margin: 3em 0;
}

.middle-section_3 {
  margin-bottom: 0;
}

.middle-section_subtitle {
  margin: .7em 0;
  background-color: rgba(242, 95, 58, 0.1);
  padding: .2em .1em .4em .1em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media only screen and (min-width: 1000px) {
  .middle-section_subtitle {
    background-color: inherit;
  }
}

.middle-section_subtitle-number {
  padding: .2em 1.5em .4em 1.5em;
  border-radius: 20px;
  background-color: #f25f3a;
  color: #fff;
  margin-right: .5rem;
}

@media only screen and (min-width: 1000px) {
  .middle-section {
    width: 45%;
    margin: 0 auto;
  }
}

.testimonials-section {
  text-align: center;
}

.testimonial {
  margin: 7.5em 0 6em 0;
  background-color: #fafafa;
  position: relative;
  padding: 3em 1em;
  text-align: center;
  font-size: .9rem;
  max-width: 850px;
}

.testimonial_image {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
}

.testimonial_name {
  margin: 1.2em 0;
  font-size: 1rem;
}

.testimonial_activeIcon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -34px;
}

.testimonial_indicator-icon {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: solid;
  border-width: 1px;
  border-color: #f25f3a;
  margin: auto .15em;
  content: " ";
}

.testimonial_indicator-icon--active {
  background-color: #f25f3a;
}

.testimonial_2, .testimonial_3, .testimonial_4 {
  display: none;
}

.getstarted-section {
  background-color: #f25f3a;
  padding: 4.5em 0;
}

.getstarted-section_content {
  text-align: center;
}

.getstarted-section_header {
  font-size: 2.5rem;
  line-height: 1.3;
  color: #fff;
}

button {
  border-radius: 20px;
  padding: 1em 2.2em;
  border: none;
  margin: 2em auto;
  font-weight: 700;
  color: #9095a7;
}

.get-started-btn--dark {
  background-color: #f25f3a;
  color: #fafafa;
}

.get-started-btn--light {
  background-color: #fff;
  color: #f25f3a;
}

.get-started-btn--nav {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .get-started-btn--nav {
    display: inline-block;
  }
}

.btn_box-shadow {
  -webkit-box-shadow: 0px 3px 15px -2px #f25f3a;
          box-shadow: 0px 3px 15px -2px #f25f3a;
}

footer {
  color: #fafafa;
  background-color: #1d1e25;
  padding: .5em;
}

.email-signup {
  margin: 0 auto;
  width: 90%;
}

.email-signup_input {
  width: 70%;
  margin: auto .5em;
  border-radius: 20px;
  padding: .8em 2.2em;
  color: #9095a7;
}

.footer_nav-list {
  margin: 2.2em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_nav-list--section {
  list-style-type: none;
}

.footer_nav-list--section li {
  margin: .5rem;
  font-size: .9rem;
  color: #fafafa;
}

.copyright, .attribution {
  text-align: center;
  color: #9095a7;
}

.copyright {
  margin-bottom: .8em;
  font-size: 14px;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: #fafafa;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */