button {
    border-radius: 20px;
    padding: .9em 1.7em;
    border: none;
    margin: 2em;
}

.get-started-btn {
    &--dark {
        background-color: $brightOrange;
        color: #fff;
    }

    &--light {
        background-color: #fff;
        color: $brightOrange;
    }
}