button {
    border-radius: 20px;
    padding: 1em 2.2em;
    border: none;
    margin: 2em;
    font-weight: 700;
    color: $darkGrayishBlue;
}

.get-started-btn {
    &--dark {
        background-color: $brightOrange;
        color: #fff;
    }

    &--light {
        background-color: #fff;
        color: $brightOrange;
    }
}