* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    line-height: 1.7;
}

body {
    font-size: 16px;
    font-family: 'Be Vietnam', sans-serif;
    //font Be Vietnam, Weights: 400, 500, 700
    color: $darkBlue;
    padding-top: 1.2em;
    background: url("./images/avatar-ali.PNG");
}

img {
    width: 100%;
    height: auto;
}


//footer




// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px