* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    @include atLarge {
        
        font-size: 20px;
    }
}

body, html {
    height: 100%;
    
}

body {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Be Vietnam', sans-serif;
    //font Be Vietnam, Weights: 400, 500, 700
    color: $darkBlue;
    padding-top: 1.2em;
    background-image: url("bg-tablet-pattern.svg");
    text-align: center;

    @include atLarge {
        text-align: left;
        font-size: 40px;
    }

   
  
}

// .body {
//     &_toggle-active {
          
        
    
//     }
// }



img {
    max-width: 100%;
    max-height: 100%;
}

.greyed-out {

    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(black, .1), rgba(black, .9));
    opacity: .7;
    z-index: 5;

    &_toggle-active {
        visibility: visible; 
        
    }
  
}

.flex-lrg {

    @include atLarge {
        display: flex;
        justify-content:space-around;
        
    }


    
}

.flex-reverse {
    flex-direction: row-reverse;
}

.flex-center {

    @include atLarge {
        align-items: center;

    }
    
    
}

.flex-1 {

    @include atLarge {
        width: 45%;
        
    }
   
}

// .flex {
//     display: flex;

//     &-reverse {
//         flex-direction: row-reverse;
//     }
// }


//footer




// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px