button {
    border-radius: 30px;
    padding: 1.2em 2.2em;
    border: none;
    margin: 2em auto;
    font-weight: 700;
    color: $darkGrayishBlue;
    font-size: .6rem; 
    cursor: pointer;
    display: inline-block;
    align-self: center;
    min-width: min-content;

    &:hover {
        opacity: .8;
    }

    @include atMedium {
        font-size: .7rem; 
    }

    @include atLarge {
        font-size: .8rem; 
    }


    

    
    

    
}





.get-started-btn {

   


    &--dark {
        background-color: $brightOrange;
        color: $veryLightGray;
       
    }

    &--light {
        background-color: #fff;
        color: $brightOrange;
    }

    &--nav {
        display: none;

        @include atLarge {
            display: inline-block;
            // margin-top: 0;
            align-self: flex-start;
            
        };
    }

   

    &--no-right-margin {
        margin-right: 0;
    }

    // &--no-top-margin {
    //     margin-top: 0;
    // }

    // &--no-bottom-margin {
    //     margin-bottom: 0;
    // }

    @include atMedium {
        font-size: .3rem;
    }
}

.btn_simplify-section {

    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
} 

.footer-btn {

    

    @include atLarge {
        // margin-top: 2rem;
        margin: auto;
        align-self: center;
    }
    
}

.btn_box-shadow {
    box-shadow:  0px 3px 15px -2px $brightOrange;
}