button {
    border-radius: 30px;
    padding: 1.2em 2.2em;
    border: none;
    margin: 2em auto;
    font-weight: 700;
    color: $darkGrayishBlue;
    font-size: .6rem; 
    cursor: pointer;
    display: inline-block;
    min-width: min-content;

    &:hover {
        opacity: .8;
    }

    @include atMedium {
        font-size: .7rem; 
    }

    @include atLarge {
        font-size: .8rem; 
    }
}

.get-started-btn {

    &--dark {
        background-color: $brightOrange;
        color: $veryLightGray;
    }

    &--light {
        background-color: #fff;
        color: $brightOrange;
    }

    &--nav {
        display: none;

        @include atLarge {
            display: inline-block;
            // margin-top: 0;
            align-self: flex-start;
            
        };
    }

    &--no-right-margin {
        margin-right: 0;
    }

    @include atMedium {
        font-size: .3rem;
    }
}

.btn_simplify-section {
    margin: auto;

    @include atMedium {
        flex-basis: 20%;
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }
} 

.footer-btn {
        padding: .6rem 1.5rem;
        margin: .1rem;
    
    &_container {
        align-items: flex-start;
    }
}

.btn_box-shadow {
    box-shadow:  0px 3px 15px -2px $brightOrange;
}