footer {
    color: $veryLightGray;
    background-color: $veryDarkBlue;
    padding: .5em;
    position: relative;
}

.footer--large {
    flex-direction: column;

    @include atLarge {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 1rem auto;
    }

    &_section {

        @include atLarge {
            padding: .5rem auto;
            margin: .5rem auto;
        };
    }

    &_section1 {
        
        @include atLarge {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            flex-basis: 1;
        }
    }

    &_section2 {
        flex-basis: 2;
    }
    
    &_section3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        flex-basis: 1;
    }
}

.email-signup {
    margin: 1rem auto;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

    @include atMedium {
        justify-content: center;
        width: 90%;
        margin-top: 3rem; 
    }

    @include atLarge {
        align-items: flex-start;
        justify-content: center;
        height: 30%;
        margin-top: 2rem;
    }

    &_input {
        width: 70%;
        min-width: 240px;
        max-width: 450px;
        margin: auto .5em;
        border-radius: 25px;
        padding: .6rem 1.5rem;
        color: $darkGrayishBlue;
        cursor: pointer;
        align-self: center;

        &.error {
            color: red;
        }

        @include atLarge {
            margin-top: auto;
            margin-bottom: auto; 
        }

        &-container {
            display: flex;
            flex-direction: column;
        }
    }
}

.footer_nav-list {
    margin: 2.2em 1em;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;

    @include atMedium {
        justify-content: space-evenly;
        margin: 2.2em 3em;
    }

    @include atLarge {
        margin: 2rem 1.5rem;
    }
   
    &--section {
        list-style-type: none;
        min-width: 1em;
        margin: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        @include atLarge {
            height: 100%;
            min-width: 2.5em;  
        }
        
        &1 {
            margin-right: 3em; 
        }

        li {
            margin: .5rem;
            font-size: .8rem;
            color: $veryLightGray;

            @include atLarge {
                font-size: .7rem;
            }

            &:hover {
                color: $brightOrange;
                cursor: pointer;
            }
        }
        
    }
}

.legal {
    font-size: .5rem;
    margin-bottom: 3rem;
    
    text-align: center;

    @include atLarge {
        text-align: right;
        margin-bottom: 0;
        font-size: .8rem;
    }
  
    &--sm {
        display: block;
        margin-bottom: 2rem;

        @include atLarge {
            display: none;
            margin-bottom: 0;
        }
    }

    &--lg {
        display: none;
        flex-direction: column;
    
        @include atLarge {
            display: flex;
            margin-bottom: 2rem;
            justify-content: flex-end;
        }
    }
}

.copyright, .attribution { 
    color: $darkGrayishBlue;
}

.copyright {
    margin-bottom: .8em;
    font-size: 14px; 

    @include atLarge {
        font-size: inherit;
    }
}

.attribution {
    font-size: 11px; 

    @include atLarge {
        font-size: inherit;
    }
}

.attribution a { 
    color: $veryLightGray; 
    text-decoration: none;
}