.manage-logo {
    width: 110px;
    align-self: center;

    @include atMedium {
        width: 120px;
    }

    
    @include atLarge {
        width: 150px;
    }

    &--footer {
        width: 170px;
        margin: 4em auto 3em auto;
        display: block;

        @include atLarge {
            margin: auto;
            margin-top: 2rem;
        }
    }
    
}

.hamburger-icon {
    width: 20px;
    height: 20px;
    z-index: 10;

    @include atMedium {
        width: 30px;
        height: 30px;
    }

    @include atLarge {
        display: none;
        // flex-grow: 0;
    }
    
}

.intro-illustration {
    width: 100%;
    margin-top: 1.2em;

    @include atMedium {
        width: 60%;
    }

    @include atLarge {
        width: 100%;
    }

    &_toggle-active {
        display: none;
    }
}

.testimonial_image {
    width: 75px;
}

.social-media_icon-container {
    
    height: 34px;
    width: 34px;

    display: flex;

    position: relative;

    &:hover {
        cursor: pointer;
        

        
    }

    &:hover .social-media_icon--hover {
        display: flex;
        
    }

    @include atLarge {
        margin-bottom: 2rem;
        
        // justify-content: center;
    }
}

.social-media {

    display: flex;
    justify-content: space-evenly;
    // margin-bottom: 3em;
    margin: 3em auto;

    max-width: 250px;

    @include atMedium {
        max-width: 400px;
        margin: 3em auto;
    }

    @include atLarge {
        margin-bottom: 0;
        min-width: 250px;


    }

    &_icon {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;

        @include atMedium {
            width: 30px;
            height: 30px;
        }

        @include atLarge {
            width: 20px;
            height: 20px;
        }

        // @include atLarge {
        //     margin: auto 1rem;
        // }

       
       




        &--hover {
            display: none;
            z-index: 100;
             position: absolute;
             top: 2px;
             bottom: 2px;
             left: 2px;
             right: 2px;
            //  margin: auto 1rem;

           
        }

        

        

       
    }
}

.mobile-background-img {
    
}



// For the social icons, you can use the icons provided or a font icon library. Some suggestions for font icon libraries can be found below:

// - [Font Awesome](https://fontawesome.com)
// - [IcoMoon](https://icomoon.io)
// - [Ionicons](https://ionicons.com)