

.main-container {
    // text-align: center;
    // padding: .4em;
   
    
    
    // &_smaller {
    //     width: 85%;
    //     margin: 0 auto;
    // }

    &_section-narrow {
    background: url("/images/bg-tablet-pattern-small.svg") no-repeat;
    background-position-x: -30%;
    background-position-y: -170%;
    width: 85%;
    margin: 0 auto;
    text-align: inherit;

    }
}

// nav {
//     display: flex;
//     justify-content: space-between;
//     padding: 1em 1em;

//     ul {
//        display: none; 
//     }

//     li {
//         list-style-type: none;
//         display: inline-block;
//     }
// }

.navigation {
    position: relative;
    z-index: 100;
    

    @include atLarge {
        display: flex;
        justify-content: space-evenly;
    }
    
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
   

    &_ul {
       display: none; 

       @include atLarge {
           display: flex;
       }

       &_toggle-active {
           display: block;
           background-color: white;
           padding: 1.7rem;
           
       }
    }

    &_li {
        list-style-type: none;
        display: block;
        padding: .5em 0;
        font-size: .8rem;
        font-weight: bold;

        @mixin atLarge {
            display: inline-block;
        }

        // &_toggle-active {
        //     display: block;
        //     width: 100%;
        //     color: red;
        // }
    }

    // &_toggle-active {
    //     display: block;
    // }
}

.txt--light {
    color: $darkGrayishBlue;
}



.header-section {
    margin-bottom: 4em;

    
    @include atLarge {
        margin-bottom: 0; 
        font-size: auto;
         
    }

    &_title {
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 1.3;
        margin: .3em 0;

        // @include atLarge {
        //     font-size: 3rem; 
        // }

        
    }

    &_para {

        font-size: 1rem;

        @include atLarge {
            font-size: auto;
        }
        
    }


}

.section-header {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
    margin: .5em 0;

    @include atLarge {
        font-size: auto;
    }

    &_para{
        font-size: .9rem;

        @include atLarge {
            font-size: auto;
        }
    }
}

.intro-section {

    &_header {
        margin: 3em 0;
        
    }
}

.section-2--atsmall {
 
    width: 85%;
    margin: 0 auto;
    text-align: inherit;

    @include atLarge {
        width: 45%;
    }

}

.section-2--atlarge {
    @include atLarge {
        width: 85%;
        margin: 0 auto;
    }
}

.middle-section {
    text-align: left;
    margin-bottom: 2em;
    padding-left: 1em;

    &_section {
        margin: 3em 0;

        
    }

    &_3 {
        margin-bottom: 0;
    }

    &_subtitle {
        margin: .7em 0;
        background-color: rgba($brightOrange, .1);
        padding: .2em .1em .4em .1em;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        @include atLarge {
            background-color: inherit;
        }

        
    }

    &_subtitle-number {
        padding: .2em 1.5em .4em 1.5em;
        border-radius: 20px;
        background-color: $brightOrange;
        color: #fff;
        margin-right: .5rem;
        
    }

    @include atLarge {
        width: 45%;
        margin: 0 auto;
    }
   
}

//testimonial section

.testimonials-section {
    text-align: center;
    // width: 85%;
    // margin: 0 auto;

}

.testimonial {
    margin: 7.5em 0 6em 0;
    background-color: $veryLightGray;
    position: relative;
    padding: 3em 1em;
    text-align: center;
    font-size: .9rem;

    &_image {
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        display: block;
        margin: auto;
    }

    &_name {
        margin: 1.2em 0;
        font-size: 1rem;
    }

    &_activeIcon-section {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -34px;
        
    }

    &_indicator-icon {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        border: solid;
        border-width: 1px;
        border-color: $brightOrange; 
        margin: auto .15em;
        
        content: " ";

        &--active {
            background-color: $brightOrange;
        }
    }

    &_2, &_3, &_4 {
        display: none;
    }
}

.getstarted-section {
    background-color: $brightOrange;
    padding: 4.5em 0;

    &_content {
        text-align: center;
    }

    &_header {
        font-size: 2.5rem;
        line-height: 1.3;
        color: #fff;
    }
}



